* {
    margin: -8px;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: rgba(77, 62, 62, 0.192);
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.gallery-section{
    padding: 80px 0 0;
}
.gallery-section .gallery-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}
.gallery-section .gallery-item-inner img{
    width: 100%;
    display: block;
    transform: scale(1.1);
    transform: all 0.5s ease;
}
.gallery-section .gallery-item-inner:hover img{
    filter: grayscale(100%);
    transform: scale(1);
}
.gallery-section .gallery-item-inner{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.gallery-section .gallery-item-inner .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease;
    background-color: rgba(75, 77, 105, 0.719);
    opacity: 0;
}
.gallery-section .gallery-item-inner:hover .overlay{
opacity: 1;    
}
.gallery-section .gallery-item-inner .overlay h4{
    color: #ffffff;
    font-size: 20px;
    transform:translateX(30px);
    transition: all 0.5s ease;
}
.gallery-section .gallery-item-inner:hover .overlay h4{
    transform: translateX(0);
}